body{
  background-color: rgba(7, 3, 3, 0.712);
}

.container{
  margin: 10px;
}

.board {
  display: flex;
  height: 600px;
  width: 500px;
  justify-content: center;
  flex-flow: row wrap;
  margin-left: 25%;
  border: 15px solid rgba(247, 238, 238, 0.932);
  border-radius: 10px;
}
.row {
  display: flex;
  height: 65px;
  width: 500px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 12.5%;
  height: 100%;
  margin: auto;
}

.row .item:nth-of-type(even) {
  background-color: #8d3607;
}

.row .item:nth-of-type(odd) {
  background-color: #ff9a00;
}

.row:nth-of-type(even) .item:nth-of-type(even) {
  background-color: #ff9a00;
}

.row:nth-of-type(even) .item:nth-of-type(odd) {
  background-color: #8d3607;
}

.X {
  display: flex;
  height: 35px;
  width: 800px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 208, 0);
  width: 100%;
  height: 33px;
  background-color: black;
  color: white;
  transform: rotate(-180deg);
}

.top:hover{
  width: 100%;
  height: 36px;
  background-color: white;
  color: black;
}

.Y {
  display: flex;
  height: 35px;
  width: 500px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 208, 0);
  width: 100%;
  height: 33px;
  color: black;
  background-color: white;
}

.bottom:hover{
  width: 100%;
  height: 36px;
  background-color: black;
  color: white;
}


/*stilizam piesele de sah*/

.img{
  width: 90%;
  height: 90%;
  cursor: pointer;
}

.img:hover{
  width: 100%;
  height: 100%;
}
